/* example theme */

code.sbhighlight {
	color: rgb(198,175,157); /* default text color (for non-highlighted sections) */
	background-color: rgb( 42, 33, 28); /* code block background color */
}
code.sbhighlight > span {
	background-color: transparent; /* reset background color (don't change this probably) */
}

/* WORDS */

/* keywords (put this first) */
code.sbhighlight > span.keyword  {color:rgb( 55,163,237);}
/* variables */
code.sbhighlight > span.variable {color:rgb(255,255,255);}
/* built in functions */
code.sbhighlight > span.function {color:rgb(200,122,237);} 
/* labels */
code.sbhighlight > span.label    {color:rgb(128,255,  0);}
/* strings */
code.sbhighlight > span.string   {color:rgb(  0,255, 64);}
/* comments */
code.sbhighlight > span.comment  {color:rgb(102,102,102);}

/* operators and named operators (speical) */
code.sbhighlight > span.operator , code.sbhighlight > span.word-operator {color:rgb(229,193, 56);}
/* numbers and true/false (special) */
code.sbhighlight > span.number , code.sbhighlight > span.true-false      {color:rgb(255, 58,131);}

/* new */
code.sbhighlight > .def + .variable {animation: color-change 1s infinite;}
@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
